body {
  max-width: 100%;
  min-height: 100vh;
  font-family: cursive;
}

header {
  width: 100%;
  background-color: #222222;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 20vh;
  align-items: center;

  -webkit-box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.7);
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.logo-image {
  height: 100%;
  width: auto;
}

.logo-image img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}

.title h1 {
  font-size: larger;
}

.title h2 {
  font-size: smaller;
  opacity: 0.6;
}

.logo-title {
  display: flex;
  text-align: center;
}

.menu-container {
  margin-right: 60px;
}

.menu-container ul {
  display: flex;
  flex-direction: row;
}

.menu-container ul li {
  padding: 3px 15px;
}

.menu-container ul li a {
  transition: opacity 0.2s ease;
  opacity: 0.7;
  padding: 5px;
}

.menu-container ul li a:hover {
  opacity: 0.4;
}

.logo-container .logo-title1 {
  color: #906443;
}

.logo-container .logo-title2 {
}

.logo-container .logo-title3 {
  color: #d0a823;
}

/* Content >>>>> */
.content-img {
  width: 100%;
  height: 500px;
  background-image: url("../images/coffee-tumblr.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: flex;
  justify-content: right;
  align-items: center;
}

.content-img .content {
  padding: 20px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 32px;
  color: white;
  margin-right: 80px;
}

.content-img .content h4 {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  margin-top: 10px;
}

.content-img .content a {
  padding: 10px 60px;
  background-color: rgb(34, 34, 34);
  font-size: 18px;
  margin-top: 35px;
  border-radius: 20px;
  color: #fff;
  transition: background-color 0.4s ease;
  transition: color 0.2s linear;
}

.content-img .content a:hover {
  background-color: rgba(34, 34, 34, 0.9);
  color: #906443;
}

.content-products {
  display: flex;
  justify-content: center;
  text-align: center;
}

.product-descriptions {
  max-width: 600px;
  margin-top: 60px;
}

.product-descriptions h3 {
  font-size: 32px;
  color: #906443;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.subtitle a,
p {
  padding: 6px 10px;
  transition: opacity 0.2s ease;
  opacity: 0.8;
}

.subtitle a:hover {
  opacity: 0.6;
}

.products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 60px 0px;
}

.products .product {
  width: 350px;
  height: 430px;
  background: rgb(238, 238, 238, 0.4);
  margin: 0px 30px;
  border-radius: 32px;
  box-shadow: 2px 2px 8px 0.1px rgb(208, 208, 208);
  scale: calc(98%);
  transition: scale 0.3s ease;
}

.products .product:hover {
  scale: calc(100%);
}

.product .product-image {
  height: 70%;
  width: 100%;
  background-color: #fff;
  border-radius: 32px 32px 0 0;
}

.product .product-image img {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px 0 0;
  object-fit: cover;
}

.product .product-description {
  padding: 0 20px;
  text-align: center;
}

.product .product-description .product-title {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.product-title .title {
  color: #906443;
  margin-left: 8px;
}

.product-title .subtitle {
  color: gold;
}

.product .product-description p {
  margin-top: 5px;
  opacity: 0.6;
}

.content-contact {
  display: flex;
  justify-content: center;
}

.container-title {
  text-align: center;
  width: 100%;
  font-size: 32px;
  color: #906443;
  margin: 30px 0px;
  margin-top: 60px;
}

.contact-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-container input {
  background-color: #906443;
  padding: 10px 40px;
  border-radius: 20px;
  margin: 10px 0px;
  color: #fff;
  text-align: center;
  opacity: 0.9;
}

.form-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.form-btn button {
  padding: 5px 50px;
  background-color: #d0a823;
  border-radius: 15px;
  color: white;
  transition: opacity 0.2s ease;
  opacity: 0.9;
}

.form-btn button:hover {
  opacity: 0.75;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-news {
  background-color: #d0a823;
}

.container-news div {
  margin: 0px 20px;
}

.form-email {
  background: #fff;
  border-radius: 20px;
  padding: 7px 30px;
  margin-right: 20px;
}

.container-news .first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  color: white;
}

.container-news .first img {
  height: 100%;
}

.container-news .second {
  margin-right: 60px;
}

.container-news .second a {
  background-color: #906443;
  color: white;
  padding: 5px 20px;
  border-radius: 15px;
}

.container-data {
  background-color: #906443;
  padding: 20px 60px;
  height: 250px;
}

.footer-data {
  display: flex;
  flex-direction: column;
}

.footer-data div {
  margin: 8px 0;
}

.footer-subtitle {
  color: rgb(37, 37, 37);
}

.container-footer {
  background-color: #222222;
  padding: 2px 60px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-small;
  font-weight: 200;
}