:root {
    --global-dark-color: #0a0310;
    --global-purple-primary-color: #49007e;
    --global-purple-secondary-color: #4b004c;

    --global-backend-color: #641f5e;
    --global-frontend-color: #65ac92;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--global-dark-color);
}

main {
    margin-top: 50px;
}

.title {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

.menu {
    background-color: var(--global-purple-secondary-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.menu h1 {
    font-size: larger;
    color: white;
    padding: 30px 0px;
}

.image-gallery {
    flex: 1;
    padding: 30px 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 6;
}

.card {
    width: 20%;
    height: 300px;
    background-color: white;
    transform: scale(0.90);
    transition: transform .2s ease;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 33px;
    overflow: hidden;
}

.card h2 {
    font-size: 1.5rem;
    position: absolute;
    margin-top: 5%;
}

.card-front {
    background-color: var(--global-frontend-color);
}

.card-back {
    background-color: var(--global-backend-color);
}

.card a {
    transition: opacity .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    height: 100%;
}

.card a:hover {
    opacity: .8;
}

.card:hover {
    transform: scale(0.925);
}